.packets-block {
  margin: 100px auto 50px auto;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;

  .packet {
    border-radius: 30px;
    box-shadow: 0px 0px 28px 8px rgba(165, 53, 165, 0.55);
    .packet-title-block {
      background: linear-gradient(
        0deg,
        rgba(203, 0, 255, 1) 0%,
        rgba(113, 0, 126, 1) 100%
      );
      border-radius: 30px 30px 0px 0px;
      color: #fff;
      padding: 5px;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
    }

    .packet-advantages-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      align-items: start;

      .packet-advantage {
        display: flex;
        gap: 5px;
        align-items: start;

        .lined {
          color: grey;
          text-decoration: line-through;
        }
      }
    }

    .packet-price-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      padding: 20px;
      font-weight: bold;

      .previous-price {
        color: grey;
        text-decoration: line-through;
        font-size: 24px;
      }

      .new-price {
        color: rgb(128, 46, 128);
        font-size: 32px;
      }
    }

    .packet-buttons-block {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      padding: 20px;

      .packet-button {
        border-radius: 30px;
        transition: all 0.3s;
        width: 100%;
        letter-spacing: 0.2em;
      }

      .buy-button {
        background: rgb(201, 0, 201);
        border: 1px solid purple;
        text-align: center;
        padding: 10px;
        font-size: 22px;
        font-weight: 500;
        color: black;
      }

      .buy-button:hover {
        background: purple;
        color: #fff;
      }

      .take-button {
        background: #000;
        text-align: center;
        padding: 10px;
        font-size: 13px;
        color: #fff;
        font-weight: normal;
        border: 1px solid black;
      }

      .take-button:hover {
        background: #fff;
        color: purple;
      }

      .keep-button {
        border: 1px solid purple;
        color: purple;
        font-size: 13px;
        text-align: center;
        padding: 10px;
        font-weight: normal;
      }

      .keep-button:hover {
        background: purple;
        color: #fff;
      }
    }
  }

  .premium-packet {
    box-shadow: 0px 0px 28px 8px #ffd700;

    .packet-title-block {
      background: linear-gradient(to top, #ffd700 0%, #c0a200 100%);
    }

    .packet-price-block {
      .new-price {
        color: #b59900;
      }
    }

    .packet-buttons-block {
      .buy-button {
        background: #ffd700;
        border: 1px solid #ffd700;
      }

      .buy-button:hover {
        background: #bea100;
        color: #fff;
      }

      .keep-button {
        border: 1px solid #ffd700;
        color: #968000;
      }

      .keep-button:hover {
        background: #ffd700;
        color: #000;
      }

      .take-button:hover {
        color: #917b00;
      }
    }
  }
}
